{% extends 'base.html.twig' %}

{% block title %}Создать вопрос | QA - сервис вопросов и ответов{% endblock %}

{% block body %}
    <a href="{{ path('app_question_index') }}" class="btn btn-light mb-3">
        Назад к списку вопросов
    </a>
    <h1> Создать вопрос </h1>

    {{ include('question/_form.html.twig') }}
{% endblock %}
